@media only screen and (max-width: 768px) {
  .podium {
    flex-wrap: wrap;
  }
  .podium-card {
    width: 100%;
    padding: 0;
    margin: 1rem 0;
  }
  .podium-card:nth-child(1) {
    order: 1;
  }
  .podium-card:nth-child(2) {
    order: 2;
  }
  .podium-card:nth-child(3) {
    order: 3;
  }
  .wrap-page {
    box-sizing: border-box;
    margin: 3px;
    padding: 1rem;
  }
  .card {
    width: 100%;
    height: auto;
    padding: 1rem;
  }
  .podium-card .position {
    padding: 0.2rem 0.7rem;
    font-size: 0.8rem;
    font-weight: bold;
  }
}
