h1 {
  margin-bottom: 16px;
}

table {
  background-color: rgba(0, 0, 0, 0.2);
}

.table-row {
  color: white;
  transition: background-color 0.3s, color 0.3s;
  opacity: 0.8;
}

.table-row:nth-child(odd) {
  background-color: var(--color-zinc-900);
}

.table-row:nth-child(even) {
  background-color: var(--color-zinc-800);
}

.table-row:hover {
  background-color: white;
  color: red;
}

.home-view {
  background-image: url('@/assets/images/bg-f1.jpg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  min-height: calc(100vh - 8rem);
}

main .wrap {
  margin-top: 4rem;
}

.podium-card {
  overflow: hidden;
}

.podium-card:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

.podium-card .position {
  height: 100%;
  padding: 2rem 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.podium-card:nth-of-type(2) .position {
  background-color: #FFD700;
  color: #333333;
}

.podium-card:nth-of-type(1) .position {
  background-color: #C0C0C0;
  color: #333333;
}

.podium-card:nth-of-type(3) .position {
  background-color: #CD7F32; 
  color: #333333;
}

.podium-card .driver {
  padding: 0 1rem;
}

.bg-team-1 {
  background-image: linear-gradient(to right, #121F45, #CC1E4A, #FFC906);
}

.bg-team-2 {
  background-image: linear-gradient(to right, #A6051A, #FFEB00);
}

.bg-team-3 {
  background-image: linear-gradient(to right, #8cc3e2, #f2bdef);
}

.bg-team-4 {
  background-image: linear-gradient(to right, #FF8000, #000000);
}

.bg-team-5 {
  background-image: linear-gradient(to left, #000000, #52E252);
}