@import "./base.css";
@import "tailwindcss";


@font-face {
  font-family: f1;
  font-style: normal;
  font-weight: 200 700;
  font-display: swap;
  src: url("./fonts/f1.woff2") format("woff2");
}
body {
  margin: 0 auto;
  font-family: f1, sans-serif;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
